<div class="hourly-modal">
    <div class="spinner" ng-show="forms.showSpinner">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">Accept Application</h3>
    </div>
    <div class="modal-body">
        <h2>In order to accept this application, you must put up the funds to pay for it first. This will <b>not</b> be sent to the applicant. The money will go into an escrow account until the job is done, reviewed by you and marked as completed. This is in order for the applicant to feel comfortable in knowing the money has been put up. If a job is not completed, the funds will be returned back to you.</h2>
        <button ng-click="showForm()" class="btn submit-btn" ng-show="!forms.showPaymentForm">Accept and pay</button>
        <button ng-click="cancel()" ng-show="!forms.showPaymentForm" class="btn cancel-btn">Nevermind</button>
        <form id="checkout" ng-show="forms.showPaymentForm">
            <p class="checkout-header">Please either enter your credit card information or use paypal.</p>
            <div class="card-container"></div>
            <div class="double-input">
                <div class="form-group">
                    <input id="cc_number" class="form-control" type="text" name="number" placeholder="XXXX-XXXX-XXXX-XXXX" ng-model="forms.card.number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Jon Smith..." ng-model="forms.card.name" />
                </div>
            </div>
            <div class="double-input">
                <div class="form-group">
                    <input type="text" class="form-control" name="expiry" placeholder="MM/YY" ng-model="forms.card.expire" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="cvc" placeholder="CVC" ng-model="forms.card.cvc" />
                </div>
            </div>
            <div class="card-error" ng-show="forms.error.card">
                <p class="form-error-text">Make sure all card fields are filled out.</p>
            </div>
            <div class="buttons">
                <button ng-click="submitPayment()" class="btn submit-btn">Accept Application and Pay {{forms.bid_amount | currency}}</button>
                <button ng-click="cancel()" class="btn cancel-btn">Cancel</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</div>