<div class="choices">
	<div class="title">
		<h2>Administrative Help</h2>
		<p>On Your Budget</p>
	</div>
	<a href="#/search?type=work" class="choice contractor">
		<h2>I need work.</h2>
	</a>
	<a ng-click="openTaskModal()" class="choice need-help">
		<h2>I need work done for me.</h2>
	</a>
</div>
<div class="section-header">
	<h2>Services</h2>
</div>
<div class="callouts">
	<div class="callout">
		<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-2193812_orig.jpeg">
		<h3>Administrative Help</h3>
		<p>
			Help whether it's with Word, Excel, or any other task that will lead to more productivity in your day to day work life.
		</p>
	</div>
	<div class="callout">
		<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-1917250_orig.jpeg">
		<h3>Marketing Assistance</h3>
		<p>
			Help with your marketing strategy.  What can you do differently to change how you reach your target market?
		</p>
	</div>
	<div class="callout">
		<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-6147234_orig.jpeg">
		<h3>Daily Organization</h3>
		<p>
			﻿Help with better organizing your daily routine so you can be more productive.
		</p>
	</div>
</div>