<div class="job-description">
	<div class="column-30-70">
		<div class="column">
			<div class="profile-info">
				<div class="stats" ng-show="user.logged_in">
					<p class="name"><span>Employer:</span> {{forms.employerUsername}}</p>
				</div>
				<div class="apply">
					<button ng-click="apply()" ng-show="forms.ableToApply">Apply</button>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<h1 style="margin-top: 0px;">{{job.title}}</h1>
				<h3>Description:</h3>
				{{job.description}}
				<br>
				<h2 class="budget">Budget: <span>{{job.budget | currency}}</span></h2>
			</div>
		</div>
	</div>
</div>