<div class="job-description">
	<div class="column-30-70">
		<div class="column">
			<div class="profile-info">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-2193812_orig.jpeg">
				<div class="stats">
					<p class="name">Mike Santilli</p>
					<p class="company-name">Hourly Admin</p>
					<p class="deals"># Jobs Paid: 4</p>
				</div>
				<div class="apply">
					<button ng-click="openApplyModal()">Apply</button>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="content">
				<h1>{{job.title}}</h1>
				{{job.description}}
			</div>
		</div>
	</div>
</div>