<div class="hourly-modal">
    <div class="spinner" ng-show="forms.showSpinner">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">Sign Up to Receive Payments</h3>
    </div>
    <div class="modal-body" ng-show="!forms.submitted">
        <h2>In order to apply to this job you must first set up your payment account. This is to make sure that if your application is accepted that you are able to be paid. When an employer accepts an application they will send the bid amount to an escrow account. Once your work has been reviewed and marked as complete by the employer, the money will be released to your account.</h2>
        <div class="login-form">
            <div class="double-input">
                <div class="form-group">
                    <label for="first_name">*First Name:</label>
                    <input type="text" class="form-control" id="first_name" ng-model="forms.inputs.first_name">
                    <p class="form-error-text" ng-show="forms.error.first_name">This field is required</p>
                </div>
                <div class="form-group">
                    <label for="last_name">*Last Name:</label>
                    <input type="text" class="form-control" id="last_name" ng-model="forms.inputs.last_name">
                    <p class="form-error-text" ng-show="forms.error.last_name">This field is required</p>
                </div>
            </div>
            <div class="double-input">
                <div class="form-group">
                    <label for="phone_number">*Phone Number:</label>
                    <input type="text" class="form-control" id="phone_number" ng-model="forms.inputs.phone">
                    <p class="form-error-text" ng-show="forms.error.phone">This field is required, must be a 10 digit number (numbers only)</p>
                </div>
                <div class="form-group">
                    <label for="dob">*Date of Birth:</label>
                    <input type="date" class="form-control" id="dob" ng-model="forms.inputs.dob">
                    <p class="form-error-text" ng-show="forms.error.dob">This field is required</p>
                </div>
            </div>
            <div class="double-input">
                <div class="form-group">
                    <label for="address_1">*Street Address:</label>
                    <input type="text" class="form-control" id="address_1" ng-model="forms.inputs.address_1">
                    <p class="form-error-text" ng-show="forms.error.address_1">This field is required</p>
                </div>
                <div class="form-group">
                    <label for="city">*City</label>
                    <input type="text" class="form-control" id="city" ng-model="forms.inputs.city">
                    <p class="form-error-text" ng-show="forms.error.city">This field is required</p>
                </div>
            </div>
            <div class="double-input">
                <div class="form-group">
                    <label for="state">*State</label>
                    <select class="form-control" id="state" ng-model="forms.inputs.state">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <p class="form-error-text" ng-show="forms.error.state">This field is required</p>
                </div>
                <div class="form-group">
                    <label for="zip">*Zip Code</label>
                    <input type="text" class="form-control" id="zip" ng-model="forms.inputs.zip">
                    <p class="form-error-text" ng-show="forms.error.zip">This field is required, must be a 5 digit number</p>
                </div>
            </div>
            <div class="double-input">
                <div class="form-group with-tooltip">
                    <label for="business">Business Name:</label>
                    <input type="text" class="form-control" id="business" ng-model="forms.inputs.business">
                    <div class="custom-tooltip">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="text">
                            If this is a business account please provide the name.
                        </div>
                    </div>
                </div>
                <div class="form-group with-tooltip">
                    <label for="tax">SSN (Last 4 Digits):</label>
                    <input type="text" class="form-control" id="tax" ng-model="forms.inputs.ssn">
                    <div class="custom-tooltip">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="text">
                            Providing this to our payment provider will help them verify your credentials faster, however, this is optional.
                        </div>
                    </div>
                </div>
            </div>
            <div class="double-input">
                <div class="form-group">
                    <label for="b_account">Bank Account Number:</label>
                    <input type="text" class="form-control" id="b_account" ng-model="forms.inputs.b_account">
                    <p class="form-error-text" ng-show="forms.error.b_account">This field is required, and must be at least 8 digits long</p>
                </div>
                <div class="form-group">
                    <label for="b_routing">Bank Routing Number:</label>
                    <input type="text" class="form-control" id="b_routing" ng-model="forms.inputs.b_routing">
                    <p class="form-error-text" ng-show="forms.error.b_routing">This field is required, and must be at least 8 digits long</p>
                </div>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" name="toc" id="toc" ng-model="forms.inputs.toc">
                <label for="toc">I agree to the <a href="#">terms and conditions</a> of this site and our payment partner Braintree</label>
                <p class="form-error-text" ng-show="forms.error.toc">You must accept these terms and conditions</p>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-show="forms.submitted">
        <p>Your merchant application has been submitted, please wait until it is verified in our system. Once this happens you will receive an email indicating so, and you can then apply to the jobs you are interested in. We apologize for any inconvenience</p>
        <br>
        <p>Sometimes applications are approved instantly, you can check if yours has been approved by clicking the button below:</p>
        <br>
        <p style="text-align: center;"><button class="btn submit-btn" type="button" ng-click="getUserDetails(true)">Check Application</button></p>
    </div>
    <div class="modal-footer">
        <button ng-show="!forms.submitted" class="btn submit-btn" type="button" ng-click="signUp()">Sign Up</button>
        <button ng-show="!forms.submitted" class="btn cancel-btn" type="button" ng-click="cancel()">Cancel</button>
        <button ng-show="forms.submitted" class="btn cancel-btn" type="button" ng-click="cancel()">Ok</button>
    </div>
</div>