<div class="messages-module">
    <div class="row" ng-if="discussions.length > 0">
    	<div class="col-md-4 bg-white friend-list-wrapper">           
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li class="active bounceInDown {{ discussion.selected ? 'selected' : '' }}" ng-repeat="discussion in discussions">
                	<a class="clearfix" ng-click="changeDiscussion($index)">
                		<img src="images/user_1.jpg" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>{{discussion.threadTitle}}</strong>
                		</div>
                		<div class="last-message text-muted">{{discussion.message[discussion.message.length-1].message}}</div>
                		<small class="time text-muted">{{discussion.last_message_date}}</small>
                		<small class="chat-alert label label-danger">{{discussion.amount_unread}}</small>
                	</a>
                </li>               
            </ul>
    	</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-8 bg-white messages-list" scroll-bottom="viewDetails.currentDiscussion.message">
            <div class="chat-message">
                <ul class="chat">
                    <li class="left clearfix" ng-repeat="message in viewDetails.currentDiscussion.message">
                    	<span class="chat-img pull-left">
                    		<img ng-if="viewDetails.userId != message.user_id" src="images/user_1.jpg" alt="User Avatar">
                            <img ng-if="viewDetails.userId == message.user_id" src="images/user_3.jpg" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font" ng-if="message.user_id == viewDetails.userId">You</strong>
                                <strong class="primary-font" ng-if="message.user_id == viewDetails.otherUserId">{{viewDetails.otherUsername}}</strong>
                    			<small class="pull-right text-muted">{{message.timestamp | date}}</small>
                    		</div>
                    		<p>
                    			{{message.message}}
                    		</p>
                    	</div>
                    </li>
                    <!-- <li class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">Sarah</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    		</p>
                    	</div>
                    </li>  -->                   
                </ul>
            </div>
    	</div>
        <div class="chat-box bg-white">
            <div class="input-group">
                <input ng-model="inputs.newMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here" ng-enter="submitMessage()">
                <span class="input-group-btn send-button">
                    <button ng-click="submitMessage()" class="btn btn-success no-rounded" type="button">Send</button>
                </span>
            </div><!-- /input-group --> 
        </div>         
    </div>
    <div class="no-messages" ng-if="discussions.length == 0">
        <p>You have no messages. Message threads will be created when you apply to a job or when someone applies to one of your posted jobs.</p>
    </div>
</div>