<div class="hourly-modal">
    <div class="spinner" ng-show="forms.showSpinner">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
    <div class="modal-header">
        <h3 class="modal-title">Post a Task</h3>
    </div>
    <div class="modal-body">
        <h2>Fill in the fields to post your task on the marketplace.</h2>
        <div class="login-form">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" ng-model="forms.inputs.title">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control big-text" ng-model="forms.inputs.description"></textarea>
            </div>
            <div class="form-group currencyinput">
                <label for="budget">Max Budget:</label>
                <input type="number" class="form-control" id="budget" ng-model="forms.inputs.budget">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn submit-btn" type="button" ng-click="postTask()">Post</button>
        <button class="btn cancel-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>