<div class="profile-view">
	<div class="column-30-70">
		<div class="column">
			<div class="profile-info">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-2193812_orig.jpeg">
				<div class="stats">
					<p class="name"><span>Username:</span> {{userInfo.display_name}}</p>
					<p class="company-name"><span>Email:</span> {{userInfo.email}}</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="content">
				This is the job description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque et consectetur optio aspernatur dolorem, tenetur obcaecati consequatur. Atque eaque nam numquam alias cumque repudiandae consequuntur ratione voluptatibus suscipit expedita pariatur odio ad impedit sapiente aut rem, aliquid autem explicabo unde quasi sit ipsam molestiae. Ex dolore beatae tempora voluptatibus temporibus accusantium quis ut ad totam consectetur, ea, suscipit doloribus possimus nisi saepe, delectus. Perspiciatis cum error aut aliquam magnam. Nemo dolores, et, laboriosam doloribus veritatis sapiente, similique quis aut fuga suscipit perspiciatis qui, laborum nam! Dolore ipsam soluta eaque ab doloremque nesciunt necessitatibus quia cupiditate numquam, mollitia, non saepe doloribus!
			</div>
			<div class="wrapper">

				<h2>Posted Jobs</h2>
  
			  <div class="custom-table">
			    
			    <div class="custom-row header">
			      <div class="custom-cell">
			        Title
			      </div>
			      <div class="custom-cell">
			        Date
			      </div>
			      <div class="custom-cell">
			        Budget
			      </div>
			    </div>
			    
			    <div class="custom-row" ng-repeat="job in jobsPosted">
			      <div class="custom-cell link">
			        <a ng-click="goToJob(job.id, job.user_id)">{{job.title}}</a>
			      </div>
			      <div class="custom-cell">
			        {{job.expires_at | date}}
			      </div>
			      <div class="custom-cell">
			        {{job.budget | currency}}
			      </div>
			    </div>
			    
			  </div>

			  <h2>Jobs Progress</h2>
			  
			  <div class="custom-table">
			    
			    <div class="custom-row header green">
			      <div class="custom-cell">
			        Title
			      </div>
			      <div class="custom-cell">
			        Date
			      </div>
			      <div class="custom-cell">
			        Employer ID
			      </div>
			      <div class="custom-cell">
			        Budget
			      </div>
			      <div class="custom-cell">
			        Status
			      </div>
			    </div>
			    
			    <div class="custom-row" ng-repeat="application in applications">
			      <div class="custom-cell link">
			        <a ng-click="goToJob(application.id, application.user_id)">{{application.title}}</a>
			      </div>
			      <div class="custom-cell">
			        {{application.expires_at | date}}
			      </div>
			      <div class="custom-cell">
			        {{application.user_id}}
			      </div>
			      <div class="custom-cell">
			        {{application.budget | currency}}
			      </div>
			      <div class="custom-cell">
			        <span ng-if="application.status_id == 1">Pending</span>
			        <span ng-if="application.status_id == 2">Active</span>
			        <span ng-if="application.status_id == 3">Rejected</span>
			      </div>
			    </div>
			    
			  </div>
			  	  
			</div>
			<a href="#" ng-click="logout()">Logout</a>
		</div>
	</div>
</div>