<div class="profile-view">
	<div class="column-30-70">
		<div class="column">
			<div class="profile-info">
				<div class="stats">
					<p class="name"><span>Username:</span> {{userInfo.display_name}}</p>
					<p class="company-name"><span>Email:</span> {{userInfo.email}}</p>
					<a href="#" ng-click="logout()">Logout</a>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="wrapper">

				<h2 style="margin-top: 0px;">Posted Jobs</h2>
  
			  <div class="custom-table">
			    
			    <div class="custom-row header">
			      <div class="custom-cell">
			        Title
			      </div>
			      <div class="custom-cell">
			        Date
			      </div>
			      <div class="custom-cell">
			        Budget
			      </div>
			      <div class="custom-cell">
			        Applications
			      </div>
			    </div>
			    
			    <div class="custom-row" ng-repeat="job in jobsPosted | orderBy: job.title">
			      <div class="custom-cell link">
			        <a ng-click="goToJob(job.id, job.user_id)">{{job.title}}</a>
			      </div>
			      <div class="custom-cell">
			        {{job.expires_at | date}}
			      </div>
			      <div class="custom-cell">
			        {{job.budget | currency}}
			      </div>
			      <div class="custom-cell link">
			      	{{job.applicationCount}}
			      	<a ng-click="getApplicationsForJob(job.id, job.title)">View</a>
			      </div>
			    </div>
			    
			  </div>

				
			  <div class="applications-for-selected-job" ng-if="view.showApplications">
			  	<div class="title">
			  		<h3>Job: {{view.jobTitle}}</h3>
			  	</div>
			  	<div class="applications">
			    	<div class="application-item" ng-repeat="application in view.fetchedApplications | orderBy: application.display_name">
			    		<div class="username">
			    			<p>{{application.display_name}}</p>
			    		</div>
			    		<div class="bid">
			    			<p><span>Bid</span>: {{application.bid_amount | currency}}</p>
			    		</div>
			    		<div class="status">
			    			<p><span>Status:</span> {{application.application_status}}</p>
			    		</div>
			    		<div class="description">
							<p> {{application.description}}</p>
			    		</div>
			    		<div class="buttons" ng-show="application.application_status == 'Applied'">
			    			<button ng-click="decide(true, application.application_id, application.job_id, application.bid_amount)">Accept</button>
			    			<button ng-click="decide(false, application.application_id, application.job_id, application.bid_amount)">Reject</button>
			    		</div>
			    	</div>
<!-- 			    	<div class="application-item">
			    		<div class="username">
			    			<p>TestUser</p>
			    		</div>
			    		<div class="bid">
			    			<p><span>Bid</span>: $100</p>
			    		</div>
			    		<div class="status accepted">
			    			<p><span>Status:</span> Pending</p>
			    		</div>
			    		<div class="description">
							<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi molestias reprehenderit, optio quam eveniet amet! </p>
			    		</div>
			    		<div class="buttons">
			    			<button>Accept</button>
			    			<button>Reject</button>
			    		</div>
			    	</div>
			    	<div class="application-item">
			    		<div class="username">
			    			<p>TestUser</p>
			    		</div>
			    		<div class="bid">
			    			<p><span>Bid</span>: $100</p>
			    		</div>
			    		<div class="status">
			    			<p><span>Status:</span> Pending</p>
			    		</div>
			    		<div class="description">
							<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi molestias reprehenderit, optio quam eveniet amet! </p>
			    		</div>
			    		<div class="buttons">
			    			<button>Accept</button>
			    			<button>Reject</button>
			    		</div>
			    	</div> -->
		    	</div>
		    </div>

			  <h2>Jobs Progress</h2>
			  
			  <div class="custom-table">
			    
			    <div class="custom-row header green">
			      <div class="custom-cell">
			        Title
			      </div>
			      <div class="custom-cell">
			        Date
			      </div>
			      <div class="custom-cell">
			        Employer ID
			      </div>
			      <div class="custom-cell">
			        Budget
			      </div>
			      <div class="custom-cell">
			        Status
			      </div>
			    </div>
			    
			    <div class="custom-row" ng-repeat="application in applications">
			      <div class="custom-cell link">
			        <a ng-click="goToJob(application.id, application.user_id)">{{application.title}}</a>
			      </div>
			      <div class="custom-cell">
			        {{application.expires_at | date}}
			      </div>
			      <div class="custom-cell">
			        {{application.user_id}}
			      </div>
			      <div class="custom-cell">
			        {{application.budget | currency}}
			      </div>
			      <div class="custom-cell">
			        <span ng-if="application.status_id == 1">Pending</span>
			        <span ng-if="application.status_id == 2">Active</span>
			        <span ng-if="application.status_id == 3">Rejected</span>
			      </div>
			    </div>
			    
			  </div>
			  	  
			</div>
		</div>
	</div>
</div>