<div class="profile-view">
	<div class="column-30-70">
		<div class="column">
			<div class="profile-info">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-2193812_orig.jpeg">
				<div class="stats">
					<p class="name">Mike Santilli</p>
					<p class="company-name">Hourly Admin</p>
					<p class="deals"># Jobs Paid: 4</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="content">
				This is the job description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque et consectetur optio aspernatur dolorem, tenetur obcaecati consequatur. Atque eaque nam numquam alias cumque repudiandae consequuntur ratione voluptatibus suscipit expedita pariatur odio ad impedit sapiente aut rem, aliquid autem explicabo unde quasi sit ipsam molestiae. Ex dolore beatae tempora voluptatibus temporibus accusantium quis ut ad totam consectetur, ea, suscipit doloribus possimus nisi saepe, delectus. Perspiciatis cum error aut aliquam magnam. Nemo dolores, et, laboriosam doloribus veritatis sapiente, similique quis aut fuga suscipit perspiciatis qui, laborum nam! Dolore ipsam soluta eaque ab doloremque nesciunt necessitatibus quia cupiditate numquam, mollitia, non saepe doloribus!
			</div>
			<div class="job-listing">
				<h2>Posted Jobs</h2>
				<div class="jobs">
					<div class="job">
						<a href="#/job"><h3>This is a job title</h3></a>
						<div class="stats">
							<p class="date">11/12/16</p>
							<p class="worker-name"><a href="">user12343</a></p>
							<p class="cost">$300</p>
						</div>
					</div>
					<div class="job">
						<a href="#/job"><h3>This is a job title</h3></a>
						<div class="stats">
							<p class="date">11/12/16</p>
							<p class="worker-name"><a href="">user12343</a></p>
							<p class="cost">$300</p>
						</div>
					</div>
				</div>
			</div>
			<div class="job-listing">
				<h2>Jobs Progress</h2>
				<div class="jobs">
					<div class="job" ng-repeat="job in jobs">
						<a href="#/job"><h3>{{job.title}}</h3></a>
						<div class="stats">
							<p class="date">{{job.expires_at | date}}</p>
							<p class="worker-name"><a href="">{{job.user_id}}</a></p>
							<p class="cost">{{job.budget}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>