<div class="search-list">
	<div class="search-form">
	<h1>Search</h1>
	<p>Type in what you are looking for to see what is available.</p>
		<input type="text" placeholder="Payroll, finance, billing...." ng-enter="search()"></input>
	</div>
	<ul class="search-results dynamic-grid" angular-grid="results" grid-width="400" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
	    <li data-ng-repeat="result in results" class="grid search-result" data-ng-clock>
	        <div class="text-content">
	        	<h3>{{result.title}}</h3>
	        	<h4>{{result.subtitle}}</h4>
	        	<p>{{result.description}}</p>
	        	<p>Budget: {{result.budget}}</p>
	        </div>
	    </li>
	</ul>
</div>