.callouts{
	@include make-sm-column-offset(1);
	@include make-sm-column(10);
	margin-bottom: 80px;

	.callout{
		@include make-sm-column(4);
		text-align: center;

		@include breakpoint($mobileOnly) {
			margin-bottom: 40px;
		}

		img{
			width: 80%;

		}

		p{

		}
	}
}

.section-header{
	@include make-sm-column-offset(1);
	@include make-sm-column(10);
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;

	h2{
		@include make-sm-column(12);
		padding-bottom: 40px;
		border-bottom: 1px solid $color-light-gray;

	}
}