.choices{
	@include make-sm-column(12);

	.title{
		text-align: center;
		padding-bottom: 20px;

		h2{
			font-size: 40px;
		}

		p{
			font-size: 18px;
		}
	}

	.choice{
		@include make-sm-column(6);
		height: 300px;
		cursor: pointer;
		text-decoration: none;
		@include breakpoint($mobileOnly) {
			display: block;
			border: none !important;
			height: 150px;

			h2{
				float: none !important;
				margin: 0px !important;
				text-align: center;
				padding-top: 50px !important;
			}
		}

		&:hover{
			background-color: $color-yellow;
		}

		h2{
			padding-top: 80px;
			color: $color-black;
		}
	
		&.contractor{
			border-right: 1px solid black;

			h2{
				float: right;
				margin-right: 20px;
			}
		}

		&.need-help{

			h2{
				float: left;
				margin-left: 20px;
			}
		}
	}
}