.footer{
	@include make-xs-column(12);
	background-color: $color-black;
	position: fixed !important;
	bottom: 0px;
	float: none !important;

	h2{
		padding: 14px 0px;
		margin: 0;
		margin-left: 20px;
		color: $color-white;
	}
}