.header{
	border-top: 7px solid $color-yellow;
	background-color: $color-black;
	@include make-sm-column(12);

	.logo-area{
		@include make-xs-column(5);

		a{
			text-decoration: none;
			h1{
				padding: 14px 0px;
				margin: 0;
				color: $color-white;
				@include breakpoint($mobileOnly) {
					font-size: 30px;
				}
			}
		}
	}

	.main-nav{
		@include make-xs-column(7);

		ul{
			margin: 0;
			float: right;
			height: 100%;
			margin-right: 20px;

			li{
				display: inline-block;

				a{
					display: block;
					padding-top: 20px;
					padding-bottom: 21px;
					padding-left: 20px;
					padding-right: 20px;
					color: white;
					font-weight: bold;
					font-size: 18px;
					text-decoration: none;
					cursor: pointer;

					&:hover{
						background-color: $color-yellow;
					}
				}
			}
		}
	}
}