.hourly-modal{

	.modal-body{
		@include make-sm-column(12);
		height: 100%;
	}

	.btn + .btn {
	    margin-left: 5px;
	    margin-bottom: 5px; // account for input[type="submit"] which gets the bottom margin like all other inputs
	  }

	form{

		input[type=submit]
		{
			margin-top: 10px;

			+ .btn{
				margin-top: 10px;
			}
		}
	}

	.cancel-btn{
		background-color: $color-black;
		color: $color-white;

		&:hover{
			background-color: lighten($color-black, 30%);
		}
	}

	.submit-btn{
		background-color: $color-yellow;
		color: $color-black;

		&:hover{
			background-color: lighten($color-yellow, 30%);
		}
	}

	h2{
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.facebook-login{
		text-align: center;

		button{
			width: 90%;
			height: 100%;
			padding-left: 5px;
			height: 60px;
			margin-bottom: 20px;
			font-family: $font-exo2;
			font-size: 25px;
			color: $color-white;
			border: none;
			text-align: left;
			padding-left: 75px;
			background-repeat: no-repeat;
			background-position: 19px 10px;
			background-color: $color-social-facebook;
			background-image: url("../images/icon-facebook.png");
			@include breakpoint($mobileOnly) {
				font-size: 20px;
			}
		}
	}

	.or-div{
		display: block;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.login-form{

	}

	.spinner{
		position: absolute;
		display: table;
		width: 100%;
		height: 100%;
		background-color: rgb(166, 166, 166);
		opacity: .5;
		z-index: 200;
		border-radius: 5px;

		i{
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			&:before{
				font-size: 60px;
			}

		    -webkit-animation-name: spin;
		    -webkit-animation-duration: 1000ms;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-timing-function: linear;
		    -moz-animation-name: spin;
		    -moz-animation-duration: 1000ms;
		    -moz-animation-iteration-count: infinite;
		    -moz-animation-timing-function: linear;
		    -ms-animation-name: spin;
		    -ms-animation-duration: 1000ms;
		    -ms-animation-iteration-count: infinite;
		    -ms-animation-timing-function: linear;
		    
		    animation-name: spin;
		    animation-duration: 1000ms;
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;
		}
	}
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}