.profile-info{
	width: 100%;

	> img{
		width: 100%;
	}

	.apply{

		button{
			width: 90%;
			height: 100%;
			margin-top: 10px;
			height: 60px;
			margin-bottom: 20px;
			font-family: $font-exo2;
			font-size: 25px;
			font-weight: bold;
			color: $color-black;
			border: 2px solid $color-black;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 19px 10px;
			background-color: $color-yellow;

			&:hover{
				background-color: lighten($color-yellow, 20%);
			}
		}
	}
}

.budget{

	span{
		font-weight: bold;
		color: $color-green;
	}
}