// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #FFC800;

// social
$color-social-facebook: #003366;
$color-social-google: #cc6666;
$color-social-twitter: #448ccb;
$color-social-soundcloud: #cc6600;

// fonts
$font-exo2: 'Exo 2', sans-serif;
$font-chango: 'Chango', cursive;
$font-dosis: 'Dosis', sans-serif;