

.custom-select-box{
  display: inline-block;
  margin-left: 10px;
  position: relative;

  p.sort-value{
    background-color: $color-black;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 5px;
    padding-left: 8px;
    width: 155px;
    cursor: pointer;
    background-image: url("../images/white-down-arrow2.png");
    background-repeat: no-repeat;
    background-position: 129px;
    font-size: 17px;
    font-weight: 500;
  }

  .dropdown-menu-options{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: $color-black;
    color: $color-white;
    border: 2px solid $color-white;
    width: 155px;
    background-image: url("../images/white-down-arrow2.png");
    background-repeat: no-repeat;
    background-position: 129px 14px;

    .option{
      padding: 5px;
      padding-left: 8px;
      cursor: pointer;

      &:hover{
        background-color: $color-white;
        p{
          color: $color-black;
        }
      }

      p{
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}

.validation-error{
  border: 1px solid $color-red;
}

p.form-error-text{
  color: $color-red;
  margin-top: 5px;
}

p.checkout-header{
  margin-bottom: 10px;
}

.currencyinput {
  position: relative;

     &:before{
        content: '$';
        position: absolute;
        left: 8px;
        top: 32px;
     }

     input{
        padding-left: 17px;
     }
}

.double-input{
  @include make-sm-column(12);
  
  .form-group{
    @include make-sm-column(6);

    &.with-tooltip{
      input{
        @include make-sm-column(10);      
      }

      .custom-tooltip{
        @include make-sm-column(2);
        position: relative;

        &:hover{
          .text{
            opacity: 1;
            right: -210px;
          }
        }

        i:before{
          font-size: 24px;
          color: $color-yellow;
        }

        i{
          padding-top: 5px
        }

        .text{  
            font-size: 12px;
            position: absolute;
            background-color: $color-black;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            color: $color-white;
            top: 1px;
            right: -180px;
            transition: opacity .5s, right .5s;
            opacity: 0;
            z-index: 100;
        }
      }
    }
  }
}

.form-group.checkbox{
  @include make-sm-column(11);
  @include make-sm-column-offset(.33);

  input{
    @include make-sm-column(1);
  } 

  label{
    @include make-sm-column(11);
    padding-right: 0;
  }
}

#checkout{
  .card-container{
    margin-bottom: 20px;
  }

  .buttons{
    text-align: center;
  }

  .form-error-text{
    text-align: center;
    margin-bottom: 15px;
  }
}

.btn{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $font-exo2;
  font-size: 14px;
  font-weight: bold;
  color: $color-black;
  border: 1px solid $color-black;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 19px 10px;
  background-color: $color-yellow;

  &:hover{
    background-color: lighten($color-yellow, 10%);    
  }

  &.accept{
    background-color: $color-green;
  }

  &.reject{
    background-color: $color-black;
    color: $color-white;
  }
}

.big-text{
  min-height: 200px;
}