<div class="header">
	<div class="container-fluid">
		<div class="logo-area">
			<h1>THE HOURLY ADMIN</h1>
		</div>
		<div class="main-nav">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
				<li>
					<a href="#">Consultants</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="main-container">
	<div class="container-fluid">
		<div class="choices">
			<div class="title">
				<h2>Administrative Help</h2>
				<p>On Your Budget</p>
			</div>
			<div class="choice contractor">
				<h2>Contractor</h2>
			</div>
			<div class="choice need-help">
				<h2>Employer</h2>
			</div>
		</div>
		<div class="section-header">
			<h2>Services</h2>
		</div>
		<div class="callouts">
			<div class="callout">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-2193812_orig.jpeg">
				<h3>Administrative Help</h3>
				<p>
					Help whether it's with Word, Excel, or any other task that will lead to more productivity in your day to day work life.
				</p>
			</div>
			<div class="callout">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-1917250_orig.jpeg">
				<h3>Marketing Assistance</h3>
				<p>
					Help with your marketing strategy.  What can you do differently to change how you reach your target market?
				</p>
			</div>
			<div class="callout">
				<img src="http://thehourlyadmin.weebly.com/uploads/6/9/2/6/69269293/page-layouts-6147234_orig.jpeg">
				<h3>Daily Organization</h3>
				<p>
					﻿Help with better organizing your daily routine so you can be more productive.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container-fluid">
		<h2>The Hourly Admin</h2>
	</div>
</div>
