<div class="header">
	<div class="container-fluid">
		<div class="logo-area">
			<h1>THE HOURLY ADMIN</h1>
		</div>
		<div class="main-nav">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
				<li>
					<a href="#">Consultants</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="main-container">
	<div class="container-fluid">
		<div class="job-description">
			<div class="column-30-70">
				<div class="column">
					<div class="profile-info">
						asdfasf
					</div>
				</div>
				<div class="column">
					<div class="content">
						askjflkdsaj
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container-fluid">
		<h2>The Hourly Admin</h2>
	</div>
</div>
